src/main/resources/nlp/openNLPmodels/de-sent.bin
src/main/resources/nlp/openNLPmodels/de-token.bin
src/main/resources/nlp/sentencedata_models/ger-tagger+lemmatizer+morphology+graph-based-3.6
src/test/resources

*.log
.classpath
.settings
/target/
/bin/









